In [18]:
import pandas as pd

# Create the DataFrame
data = {
    'Car_Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
}

# Create a list of unique car models
unique_car_models = sorted(df["Car_Model"].unique())

# Create a one hot encoded DataFrame for Car Model
one_hot_encoded_df = pd.DataFrame(columns=unique_car_models)
for i in range(len(df)):
    car_model = df.loc[i, "Car_Model"]
    one_hot_encoded_df.loc[i, car_model] = 1
# Print the one hot encoded DataFrame
print(one_hot_encoded_df)

   Audi A5 BMW X5 Mercedez Benz C class
0      NaN      1                   NaN
1      NaN      1                   NaN
2      NaN      1                   NaN
3      NaN      1                   NaN
4      NaN      1                   NaN
5        1    NaN                   NaN
6        1    NaN                   NaN
7        1    NaN                   NaN
8        1    NaN                   NaN
9      NaN    NaN                     1
10     NaN    NaN                     1
11     NaN    NaN                     1
12     NaN    NaN                     1

In [19]:
import pandas as pd

# Create the DataFrame
data = {
    'Car Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
}

df = pd.DataFrame(data)

# Perform one-hot encoding
encoded = pd.get_dummies(df, columns=['Car Model'], prefix=['Car'])

print(encoded)

    Mileage  Sell Price($)  Age(yrs)  Car_Audi A5  Car_BMW X5  \
0     69000          18000         6            0           1
1     35000          34000         3            0           1
2     57000          26100         5            0           1
3     22500          40000         2            0           1
4     46000          31500         4            0           1
5     59000          29400         5            1           0
6     52000          32000         5            1           0
7     72000          19300         6            1           0
8     91000          12000         8            1           0
9     67000          22000         6            0           0
10    83000          20000         7            0           0
11    79000          21000         7            0           0
12    59000          33000         5            0           0

    Car_Mercedez Benz C class
0                           0
1                           0
2                           0
3                           0
4                           0
5                           0
6                           0
7                           0
8                           0
9                           1
10                          1
11                          1
12                          1

In [17]:
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({
    'Car_Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell_Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
})

# Create a one hot encoded DataFrame for Car Model
df_onehot = pd.get_dummies(df, columns=['Car_Model'])
print(df_onehot)

    Mileage  Sell_Price($)  Age(yrs)  Car_Model_Audi A5  Car_Model_BMW X5  \
0     69000          18000         6                  0                 1
1     35000          34000         3                  0                 1
2     57000          26100         5                  0                 1
3     22500          40000         2                  0                 1
4     46000          31500         4                  0                 1
5     59000          29400         5                  1                 0
6     52000          32000         5                  1                 0
7     72000          19300         6                  1                 0
8     91000          12000         8                  1                 0
9     67000          22000         6                  0                 0
10    83000          20000         7                  0                 0
11    79000          21000         7                  0                 0
12    59000          33000         5                  0                 0

    Car_Model_Mercedez Benz C class
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0
5                                 0
6                                 0
7                                 0
8                                 0
9                                 1
10                                1
11                                1
12                                1

In [13]:
import numpy as np
import pandas as pd

# Create the DataFrame
df = pd.DataFrame({
    'Car Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
})

# Create a list of unique values for the Car Model column
unique_car_models = list(df['Car Model'].unique())

# Create a one hot encoded DataFrame for Car Model
df_onehot = pd.DataFrame(columns=unique_car_models)
for i in range(len(df)):
    current_car_model = df.loc[i, 'Car Model']
    df_onehot.loc[i, current_car_model] = 1

# Print the one hot encoded DataFrame
print(df_onehot)

   BMW X5 Audi A5 Mercedez Benz C class
0       1     NaN                   NaN
1       1     NaN                   NaN
2       1     NaN                   NaN
3       1     NaN                   NaN
4       1     NaN                   NaN
5     NaN       1                   NaN
6     NaN       1                   NaN
7     NaN       1                   NaN
8     NaN       1                   NaN
9     NaN     NaN                     1
10    NaN     NaN                     1
11    NaN     NaN                     1
12    NaN     NaN                     1

In [15]:
import numpy as np
import pandas as pd

# Create the DataFrame
df = df.dropna(subset=['Car Model'])

# Create a list of unique values for the Car Model column
unique_car_models = list(df['Car Model'].unique())

# Create a one hot encoded DataFrame for Car Model
df_onehot = pd.DataFrame(columns=unique_car_models)
for i in range(len(df)):
    current_car_model = df.loc[i, 'Car Model']
    df_onehot.loc[i, current_car_model] = 1

# Print the one hot encoded DataFrame
print(df_onehot)

   BMW X5 Audi A5 Mercedez Benz C class
0       1     NaN                   NaN
1       1     NaN                   NaN
2       1     NaN                   NaN
3       1     NaN                   NaN
4       1     NaN                   NaN
5     NaN       1                   NaN
6     NaN       1                   NaN
7     NaN       1                   NaN
8     NaN       1                   NaN
9     NaN     NaN                     1
10    NaN     NaN                     1
11    NaN     NaN                     1
12    NaN     NaN                     1